h1 Description
p This little app checks your Strava Feed and automatically Tweets any activity (or activities) that have occurred since the last check. It actually checks the last time you uploaded these activities to Strava, so if you upload multiple activities at once, it will simply pluarlize the output.