h1 Get Started
p Please connect to Strava and authorize the application so we can read your feed and check for updates.
hr
.center-block
    a(href="", data-ng-click="loginOauth('strava')")
        img(src="img/stravaconnect.png", title="Connect with Strava")